In [88]:
print("Heroes of Pymoli Written analysis")
print("The data shows several clear trends. When considering demographics, the 20-24 age group stands out. They accounted for twice as much total spending as any other age group. Men dominate the total number of players at roughly 84% of the total unique user names. A sizable portion of the community bought more than one item. There are 780 total purchases, but only 576 unique user names.  A fair chunk of the popultation is purchasing multiple items within the game.While they make up a small percentage of the total players(5.38%),the age group (35-39) actually spent the most per item purchased. This might be expected as most in the age group would have income to spend as opposed to their younger coherts")

Heroes of Pymoli Written analysis
The data shows several clear trends. When considering demographics, the 20-24 age group stands out. They accounted for twice as much total spending as any other age group. Men dominate the total number of players at roughly 84% of the total unique user names. A sizable portion of the community bought more than one item. There are 780 total purchases, but only 576 unique user names.  A fair chunk of the popultation is purchasing multiple items within the game.While they make up a small percentage of the total players(5.38%),the age group (35-39) actually spent the most per item purchased. This might be expected as most in the age group would have income to spend as opposed to their younger coherts

In [61]:
import pandas as pd
import numpy as np
from scipy import stats
#import dependencies

In [62]:
purchase_data = "purchase_data.csv"
#set variable path

In [63]:
purchase_data_df = pd.read_csv(purchase_data)
#run variable through csv reader to create data frame

In [64]:
purchase_data_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [65]:

#create players df to hold total players  
players_df = pd.DataFrame({
    "Total Players" : [len(purchase_data_df['SN'].unique().tolist())]
    })

#print the contents of players df to show total players
players_df.head()

   Total Players
0            576

In [66]:
print("Purchasing Analysis Total")
#create purchasing analysis_df to display desired values
purchasing_analysis_df = pd.DataFrame({"Number of Unique Items" : [len(purchase_data_df['Item Name'].unique().tolist())], 
                 "Average Price" : [purchase_data_df['Price'].mean()], "Number of Purchases" : [purchase_data_df['Purchase ID'].count()],
                                    "Total Revenue" : [purchase_data_df['Price'].sum()]   
                                 })

#Display results 
purchasing_analysis_df

Purchasing Analysis Total

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [67]:
#Set variable for unique  players 
total_unique_players = len(purchase_data_df['SN'].unique().tolist())
total_unique_players

576

In [68]:
#set variable for total players 
total_players = len(purchase_data_df['Purchase ID'].value_counts())
total_players

780

In [69]:
print("Gender Demographics")

purchase_data_df.groupby('Gender')['SN'].nunique() 
total_count = purchase_data_df.groupby('Gender')['SN'].nunique()
percentage_players = purchase_data_df.groupby('Gender')['SN'].nunique()/ total_unique_players

data_df = {'Total Count':[purchase_data_df.groupby('Gender')['SN'].nunique() ], 'Percentage of players': [purchase_data_df.groupby('Gender')['SN'].nunique()/ total_unique_players]}

data_df

#data_df = pd.DataFrame({'Total Count': [total_count], "Percentage of Players": [percentage_players]})

#data_df.head()

Gender Demographics

{'Total Count': [Gender
  Female                    81
  Male                     484
  Other / Non-Disclosed     11
  Name: SN, dtype: int64], 'Percentage of players': [Gender
  Female                   0.140625
  Male                     0.840278
  Other / Non-Disclosed    0.019097
  Name: SN, dtype: float64]}

In [70]:
#group by gender and find total purchases by gender
print("Purchasing Analysis gender")
#find average price of purchse by gender

grouped_by_df = purchase_data_df.groupby(['Gender'])
#run formula on column to find average purchase price
grouped_by_df[['Price']].mean().round(2)
#run formula on colum to find sum of purchase value
grouped_by_df[["Price"]].sum().round(2) 


data_df = {'Purchase Count':[grouped_by_df[["Purchase ID"]].count()], 'Average Purchase Price': [grouped_by_df[['Price']].mean().round(2)], 
        'Total Purchase Value': [grouped_by_df[["Price"]].sum().round(2)], 'Avg Total Purchase per Person': [grouped_by_df['Price'].sum() / total_players]} 
  
data_df

#grouped_by_df = purchase_data_df.groupby(['Gender'])
#print(grouped_by_df)
#grouped_by_df[["Purchase ID"]].count()

Purchasing Analysis gender

{'Purchase Count': [                       Purchase ID
  Gender
  Female                         113
  Male                           652
  Other / Non-Disclosed           15],
 'Average Purchase Price': [                       Price
  Gender
  Female                  3.20
  Male                    3.02
  Other / Non-Disclosed   3.35],
 'Total Purchase Value': [                         Price
  Gender
  Female                  361.94
  Male                   1967.64
  Other / Non-Disclosed    50.19],
 'Avg Total Purchase per Person': [Gender
  Female                   0.464026
  Male                     2.522615
  Other / Non-Disclosed    0.064346
  Name: Price, dtype: float64]}

In [71]:
print("Age Demographics")


bins = [(0, 10, 14, 19, 24, 29, 34, 39, 40)]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
#purchase_data_df
bins = pd.cut(purchase_data_df['Age'], [0, 10, 14, 19, 24, 29, 34, 39, 40])
purchase_data_df.groupby(bins)['Age'].agg(['nunique', 'count'])

Age Demographics

          nunique  count
Age
(0, 10]         4     32
(10, 14]        4     19
(14, 19]        5    136
(19, 24]        5    365
(24, 29]        5    101
(29, 34]        5     73
(34, 39]        5     41
(39, 40]        1      6

In [72]:
age_ranges = ['[0 - 10)'] + ["[{0} - {1})".format(age, age + 5) for
age in range(10, 40, 5)] + ["40+"]
print(age_ranges)

['[0 - 10)', '[10 - 15)', '[15 - 20)', '[20 - 25)', '[25 - 30)', '[30 - 35)', '[35 - 40)', '40+']

In [73]:

count_unique_age_ranges = len(age_ranges)
purchase_data_unique_SN_df = purchase_data_df.drop_duplicates(subset="SN")
purchase_data_unique_SN_df['age_range'] = pd.cut(x=purchase_data_unique_SN_df['Age'],bins=count_unique_age_ranges, labels=age_ranges)

print(purchase_data_unique_SN_df['age_range'].value_counts().sum())
purchase_data_unique_SN_df['age_range'].value_counts()

576

C:\Users\beach\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

[20 - 25)    200
[15 - 20)    169
[10 - 15)     59
[25 - 30)     48
[30 - 35)     37
[0 - 10)      30
[35 - 40)     26
40+            7
Name: age_range, dtype: int64

In [74]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [85]:
#pur_count = purchase_data_df["Purchase ID"].count()
#av_purc_pric = purchase_data_df["Price"].mean().round(2)
#tot_pur_val = purchase_data_df["Price"].sum().round(2)

#print("Purchasing Analysis Age")
# initialise data of lists. 
#data = {'Purchase Count':['0', '0', '0', '0', '0', '0', '0', '0'], 'Average Purchase Price': ['0', '0', '0', '0', '0', '0', '0', '0'], 
        #'Total Purchase Value': ['0', '0', '0', '0', '0', '0', '0', '0'], 'Avg Total Purchase per Person': ['0', '0', '0', '0', '0', '0', '0', '0']} 
#data = {'Purchase Count':[pur_count], 'Average Purchase Price': [av_purc_pric], 
        #'Total Purchase Value': [tot_pur_val], 'Avg Total Purchase per Person': ['0', '0', '0', '0', '0', '0', '0', '0']} 

# Creates pandas DataFrame. 
#df = pd.DataFrame(data, index =['10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+','<10']) 
 
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'] 
   
#purchase_data_df.groupby('Age').    

#purchase_data_df[""] = pd.cut(purchase_data_df['Age'], bins, labels=group_names)
#purchase_data_df = purchase_data_df.groupby("")

pur_count = purchase_data_df["Purchase ID"].count()
print("Purchase count",pur_count)


av_purc_pric = purchase_data_df["Price"].mean().round(2)
print("Average purchase price", av_purc_pric)

tot_pur_val = purchase_data_df["Price"].sum().round(2)
print("Total Purchase Value", tot_pur_val)
ave_tot = purchase_data_df['Price'].sum()


final_df = pd.DataFrame([[pur_count, av_purc_pric, tot_pur_val, ave_tot ]],columns=['Purchase Count','Average Purchase Price','Total Purchase Value','Average Total Purchase per Person'])
final_df

Purchase count
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64
Average purchase price
<10      3.35
10-14    2.96
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.78
Name: Price, dtype: float64
Total Purchase Value
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
0,<10 23 10-14 28 15-19 136 20-24 ...,<10 3.35 10-14 2.96 15-19 3.04 20-...,<10 77.13 10-14 82.78 15-19 4...,<10 77.13 10-14 82.78 15-19 4...