In [145]:
import pandas as pd
import numpy as np
from scipy import stats

In [146]:
purchase_data = "purchase_data.csv"

In [162]:
purchase_data_df = pd.read_csv(purchase_data)
#purchase_data_df

In [148]:
#purchase_data_df.groupby('SN').SN.value_counts()
sn_group_df = purchase_data_df.set_index('SN')
sn_group_df.head()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44

In [149]:
Lisosia93 = sn_group_df.loc["Lisosia93", "Price" ]
A = sn_group_df.loc["Lisosia93", "Purchase ID" ]
print("Purchase Count", A.count(),"Total purchase value Lisosia93", Lisosia93.sum(), "Average Purchase Price", Lisosia93.mean())

Idastidru52 = sn_group_df.loc["Idastidru52", "Price" ]
B = sn_group_df.loc["Idastidru52", "Purchase ID" ]
print("Purchase Count", B.count(),"Total purchase value Idastidru52", Idastidru52.sum(), "Average Purchase Price", Idastidru52.mean())

Chamjask73 = sn_group_df.loc["Chamjask73", "Price"]
C = sn_group_df.loc["Chamjask73", "Purchase ID" ]
print("Purchase Count", C.count(),"Total purchase value Chamjask73", Chamjask73.sum(), "Average Purchase Price", Chamjask73.mean())

Iral74 = sn_group_df.loc["Iral74", "Price"]
D = sn_group_df.loc["Iral74", "Purchase ID" ]
print("Purchase Count", D.count(),"Total purchase value Iral74", Iral74.sum(),  "Average Purchase Price", Iral74.mean())

Iskadarya95 = sn_group_df.loc["Iskadarya95", "Price"]
E = sn_group_df.loc["Iskadarya95", "Purchase ID" ]
print("Purchase Count", E.count(),"Total purchase value Iskadarya95", Iskadarya95.sum(),  "Average Purchase Price", Iskadarya95.mean())

Purchase Count 5 Total purchase value Lisosia93 18.96 Average Purchase Price 3.7920000000000003
Purchase Count 4 Total purchase value Idastidru52 15.45 Average Purchase Price 3.8625
Purchase Count 3 Total purchase value Chamjask73 13.83 Average Purchase Price 4.61
Purchase Count 4 Total purchase value Iral74 13.619999999999997 Average Purchase Price 3.4049999999999994
Purchase Count 3 Total purchase value Iskadarya95 13.1 Average Purchase Price 4.366666666666666

In [150]:
item_df = purchase_data_df.set_index(['Item ID','Item Name'])
item_df.sort_index(inplace=True)
item_df.head()

                   Purchase ID          SN  Age Gender  Price
Item ID Item Name
0       Splinter           133    Phaena87   20   Male   1.28
        Splinter           150    Inasti31   17   Male   1.28
        Splinter           204  Chamimla85   16   Male   1.28
        Splinter           662  Mindilsa60   21   Male   1.28
1       Crucifer           121    Ilosia37   23   Male   3.26

In [173]:


print("Oathbreaker")

item_df.xs('Oathbreaker, Last Hope of the Breaking Storm', level=1, drop_level=False)
oathbreaker_df= item_df.xs('Oathbreaker, Last Hope of the Breaking Storm', level=1, drop_level=False)
print("Purchase count",oathbreaker_df['Purchase ID'].count())
print("Item Price", oathbreaker_df['Price'].max())
print("Total Purchase Value", oathbreaker_df['Price'].max()*oathbreaker_df['Purchase ID'].count())

Oathbreaker
Purchase count 12
Item Price 4.23
Total Purchase Value 50.760000000000005

In [174]:
item_df.xs('Fiery Glass Crusader', level=1, drop_level=False)

fiery_df= item_df.xs('Fiery Glass Crusader', level=1, drop_level=False)
print("Purchase count",fiery_df['Purchase ID'].count())
print("Item Price", fiery_df['Price'].max())
print("Total Purchase Value", fiery_df['Price'].max()*fiery_df['Purchase ID'].count())

Purchase count 9
Item Price 4.58
Total Purchase Value 41.22

In [175]:
item_df.xs('Extraction, Quickblade Of Trembling Hands', level=1, drop_level=False)
extract_df= item_df.xs('Extraction, Quickblade Of Trembling Hands', level=1, drop_level=False)
print("Purchase count",extract_df['Purchase ID'].count())
print("Item Price", extract_df['Price'].max())
print("Total Purchase Value", extract_df['Price'].max()*extract_df['Purchase ID'].count())

Purchase count 9
Item Price 3.53
Total Purchase Value 31.77

In [176]:
item_df.xs('Nirvana', level=1, drop_level=False)
nir_df= item_df.xs('Nirvana', level=1, drop_level=False)
print("Purchase count",nir_df['Purchase ID'].count())
print("Item Price", nir_df['Price'].max())
print("Total Purchase Value", nir_df['Price'].max()*nir_df['Purchase ID'].count())

Purchase count 9
Item Price 4.9
Total Purchase Value 44.1

In [177]:
item_df.xs('Pursuit, Cudgel of Necromancy', level=1, drop_level=False)
pur_df= item_df.xs('Pursuit, Cudgel of Necromancy', level=1, drop_level=False)
print("Purchase count",pur_df['Purchase ID'].count())
print("Item Price", pur_df['Price'].max())
print("Total Purchase Value", pur_df['Price'].max()*pur_df['Purchase ID'].count())

Purchase count 8
Item Price 1.02
Total Purchase Value 8.16